body {
  margin: 0;
  font-size: 1.1em;
  width: 100%; }

.outer_cont {
  width: 100%;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #bdcfda));
  background-image: -webkit-linear-gradient(white, #bdcfda);
  background-image: linear-gradient(white, #bdcfda); }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0 50px; }

.clear {
  clear: both; }

.right {
  float: right; }

a {
  color: #cc0000; }
  a:hover {
    color: red; }

.container > h1 {
  margin: 0;
  padding: 0;
  font-family: Impact;
  text-align: center;
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1em;
  color: #1a89c9;
  font-weight: bold;
  font-size: 109px;
  text-shadow: 0px 0px 0 #4dbcfc, 1px 1px 0 #3cabeb, 2px 2px 0 #2b9ada, 3px 3px 0 #1a89c9, 4px 4px 0 #0978b8, 5px 5px 0 #0067a7, 6px 6px 0 #005696, 7px 7px 0 #004585, 8px 8px 0 #003474, 9px 9px 8px #002363, 9px 9px 1px #001252, 0px 0px 8px #000141; }

section > section {
  margin: 0 0 3em 0; }

section > section > h1 {
  margin: 40px 0 10px; }

p {
  margin: 0 0 1em;
  line-height: 1.35em; }

img {
  width: 100%; }

img.icon {
  width: auto;
  position: relative;
  top: 12px; }

p.tagline {
  margin: 2em 0 0 0;
  font-size: 1.2em; }

p.normal {
  font-size: 1.1em; }
