body
  margin: 0
  font-size: 1.1em

.container
  margin: 30px auto 50px
  width: 80%

h1
  $main: #ffa561
  font-family: Impact
  text-align: center
  font-size: 3em
  font-family: 'Helvetica Neue',Helvetica, sans-serif
  line-height: 1em
  color: $main
  font-weight: bold
  font-size: 109px
  text-shadow: 0px 0px 0 rgb(232, 142, 74), 1px 1px 0 rgb(219, 129, 61), 2px 2px 0 rgb(205, 115, 47), 3px 3px 0 rgb(192, 102, 34), 4px 4px 0 rgb(179, 89, 21), 5px 5px 0 rgb(166, 76, 8), 6px 6px 0 rgb(152, 62, 0), 7px 7px 0 rgb(139, 49, 0), 8px 8px 0 rgb(126, 36, 0), 9px 9px 8px rgba(0, 0, 0, 0.6), 9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.2)

section > section
  margin: 0 0 3em 0