@import "vendor/bourbon/bourbon"



// colors

//$bg: #BDCFDA
$bg: #EEE

$green: #056839
$main1: #cb6c3c // shade 8e4c2a

$photo_margin: 10px solid #333


// mixins


=button()
  background: #555
  padding: 0.4em 0.4em 0.3em
  color: #fff
  font-weight: bold
  border-radius: 4px
  font-size: 1.1em
  line-height: 2em
  &:hover
    background: #eee
    color: #444



// reset


// @font-face
//   font-family: Myriad
//   src: url('/fonts/myriad_pro_regular.otf')
@font-face
  font-family: Bazar
  src: url('/fonts/bazar.ttf')

@font-face
  font-family: Gafeta
  src: url('/fonts/gafeta.woff')  

*
  box-sizing: border-box

a
  text-decoration: none

body
  margin: 0
  font-size: 1em
  width: 100%
  background: $bg
  font-family: Gafeta, 'Helvetica Neue', Helvetica, sans-serif, Arial, Verdana



html, body, .outer_cont
  height: 100%

.container

.clear
  clear: both

.right
  float: right
  
.left
  float: left  

// a
//   color: #C00
//   &:hover
//     color: #F00
a
  color: #0C990C
  &:hover
    color: #47DD47

header, .dark
  a
    color: #46DD38
    &:hover
      color: #9BFF92

nav a 
  display: block

h1
  margin: 0
  font-size: 1.2em


a.btn // structure
  display: inline-block
  border-radius: 5px
  padding: 4px 10px
  margin-bottom: 20px
  
a.btn  
  background: lightGrey
  color: $green
  border: 1px solid $green

a.btn:hover  
  background: $green
  color: white

.header
  font-family: Bazar
  text-transform: uppercase
  .bg
    padding: 10px 0 0 0
    background: #333
  .inner
    width: 94%
    margin: 0 auto
    max-width: 1000px

.header h1
  $main: #ffa561
  $main: #333
  //font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial, Verdana
  // font-family: Impact
  font-family: Myriad
  line-height: 1em
  font-weight: normal
  text-transform: uppercase
  font-size: 20px
  text-align: center
  letter-spacing: 0.4em
  float: left
  //font-size: 90px
  //text-shadow: 0px 0px 0 $main+#333, 1px 1px 0 $main+#222, 2px 2px 0 $main+#111, 3px 3px 0 $main, 4px 4px 0 $main -#111, 5px 5px 0 $main -#222, 6px 6px 0 $main -#333, 7px 7px 0 $main -#444, 8px 8px 0 $main -#555, 9px 9px 8px $main -#666, 9px 9px 1px $main -#777, 0px 0px 8px $main -#888
  a
    color: $main
    &:hover
      color: $main + #111
    span.tred
      color: $green
      position: relative
      right: -8px
    span.making
  img
    width: 53px
    margin: 0 auto
    display: block
  a.site_name
    margin: 20px auto 40px
    display: block
    position: relative
    left: -0.73em
  &:hover
    opacity: 0.9

.header nav
  display: inline-block
  float: left
  margin: 11px 0 0 3%
  width: 80%
  text-align: center
  a
    +button()
    margin: 0 1.3% 0 0
    display: inline-block


.belt
  background: url('/img/belt_bg.png') repeat
  width: 100%
  height: 20px

.content
  margin: 100px auto 0
  max-width: 1000px
  width: 94%
  & > h1
    font-size: 2em
    margin: 0 0 20px 0

.lang
  float: right

section > section
  margin: 0 0 3em 0

section > section > h1
  margin: 40px 0 10px

p
  margin: 0 0 1em
  line-height: 1.35em
  font-size: 1.15em
  margin-bottom: 0.6em


.home .content, .printer_3dm1 .content
  img
    width: 100%
    border: $photo_margin

.content img.icon
  width: auto
  position: relative
  top: 32px
  margin-right: 4px
  border: 0

.contacts
  margin: 20px 0 0 0

.gallery
  margin: 20px 0 0
  h1
    margin: 0 0 10px 0

.gallery img
  margin: 0 0 30px 0

.gallery .album
  float: left
  margin: 0 1% 2% 0
  width: 30%
  white-space: nowrap
  font-size: 0.8em
  h1
    overflow: hidden
    margin: 0px 0 3px 0
  .img_box
    height: 120px
    background: white // todo: js zoom instead of this
  img
    width: 100%
  img.vert
    margin-top: -50px


@media (min-width: 1000px)
  .gallery .album .img_box
    height: 250px


.album .album img
  cursor: pointer
  width: 46%
  margin: 0 2% 2% 0

@media (min-width: 500px)
  .album .album img
    width: 29%
    margin: 0 2% 2% 0

@media (min-width: 1000px)
  .album .album img
    width: 21%
    margin: 0 2% 2% 0


.content > .album
  margin: 20px 0 0 0
  h1
    margin: 0 0 10px


.img_box
  overflow: hidden




// sections - home

.home .content
  img
    margin-top: 20px
    margin-bottom: 20px
  .tagline
    p
      text-align: center
      font-size: 3em
      font-family: Bazar
      text-transform: uppercase
      color: #333
      border-bottom: 1px solid #333
      border-top: 1px solid #333
  
//sections shop
.shop 
  .gallery
    heigth: 20px
    padding: 0 100px
  .left
    width: 20%
  .right
    width: 80% 

.box
  border: 1px solid black 
  padding: 0 0 5px
  border-radius: 10px  
  margin: 0 0 20px 0
  h1
    color: white
    background: black
    border-radius: 10px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
    padding: 5px 2% 5px 
  nav
    margin: 10px 5% 
    display: block
    a
      display: block 

.left
  padding-right: 2%
  h1
    padding: 5px 5% 5px
  .box
     
  
.left, .right
  .text, section
    padding: 10px 2% 5px
  
      
  

  

// lightbox


.lightbox
  position: absolute
  width: 100%
  background: rgba(90,90,90,0.4)
  display: none
  text-align: center
  z-index: 10
  img
    cursor: pointer
    width: 83%
    margin: 63px auto
    position: absolute
    padding: 1%
    background: white


// slidejs3

#slides
  display:none
  font-size: 1.5em
  .slidesjs-navigation
    margin-right: 7px
    color: #333
    
  .slidesjs-container
    border-bottom: $photo_margin
  img
    border: $photo_margin
  .slidesjs-pagination
    float: right
    position: relative
    top: -30px
    a
      margin-right: 7px
      color: #333
      &.active
        color: white

// headroom

.headroom
  position: fixed
  top: 0
  transition: all 0.2s ease-in-out
  z-index: 12

.headroom--unpinned
  top: -100px

.headroom--pinned
  top: 0
