:ruby

  lang = en? ? "en_US" : "it_IT"

- if false
  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "paypal"}
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
    %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIG5QYJKoZIhvcNAQcEoIIG1jCCBtICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCY51bpwMtCgfjSmq5s4W+th+6lqoCm6jzistQbQHv/A062gmG6VrYaqMTqEmw7yJMwR7zmS3FM7bDYeQ5P2EKk1WVl0x9HM6ELhqzbZd4rR419ITGFkibVkZQLNQdUk++E5BabwIa+2J+h72K6Q3HKLz60jOcMtMTUHMlfLxFSCzELMAkGBSsOAwIaBQAwYwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhEvcVPQM+eiIBAbJTXWNrYfCOfAg+Sc1tVEMdimDFssO9IhU3XoJJAVyftnh69geKuUo/8ztmwu4flg2cU71deFLEuPKhlPw4URqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MDQxNzA1MzExNlowIwYJKoZIhvcNAQkEMRYEFPsFDPCKXVBGvwpMj15ZiNFo5O4rMA0GCSqGSIb3DQEBAQUABIGAMHUsNiAMmyFIZaYIuOqRriF1LyMUvSlPLO6K3f874YBH7dz2dVi9mFTqKwpdMvtMlbNm1V38GUS3A4Z9XpT5mc5+vgawr0eK3cZeuRo/OyNvluyfaCQ0ulAv69i4fnxiEbTTqn9CFVC8O3V/YtgUcJAkBQkRI5puY35VCbJuz3k=-----END PKCS7-----\n"}/
    %input{:alt => "", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/#{lang}/i/btn/btn_viewcart_LG.gif", :type => "image"}/
    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/#{lang}/i/scr/pixel.gif", :width => "1"}/

%h3.center.imp
  %br
  
  %br
  %br
%h3
  Bonus:
  %a{ href: "https://gist.github.com/makevoid/f70a673c4d839e35f22b" } Lista Open di fornitori/componenti RepRap
  %br
  %br


- if false
  %p Il negozio online e' chiuso, contattare Mp Studio / Fablab Sesto Fiorentino / Copisteria Universale Firenze o visualizzare la lista open source dei nostri fornitori:
  %p
    %a{ href: "https://gist.github.com/makevoid/f70a673c4d839e35f22b" } Lista di fornitori/componenti per stampanti RepRap Open Source
