%h1= t "Find us here:", "Ci trovi qui:"

- unless ENV['RACK_ENV'] == "development"
  %iframe{frameborder: "0", height: "450", marginheight: "0", marginwidth: "0", scrolling: "no", src: "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=via%2BFerruccio%2BBusoni%2B2%2C%2Bfirenze&ie=UTF8&z=16&t=m&iwloc=near&output=embed", width: "100%"}
- else
  %p [map]

  %a.right{href: "http://goo.gl/maps/mdwqC"} open in google maps
  %section.mail
    %h1 Mail:
    %p
      %a{ href: "mail:print@3dmaking.it" } print@3dmaking.it
      
%a.right{href: "http://goo.gl/maps/mdwqC"} open in google maps
%section.shop
  %h1 Shop:
  %p
    %strong Firenze
    \- via F. Busoni 2/r
    \- presso
    %a{ href: "http://ltestudio.it" } LTE Studio
    
    
%h1 Team

%section
  %h1
    %a{ href: "https://www.facebook.com/makevoid" }  Francesco Canessa
  %p Software developer
  %p
    %a{ href: "http://makevoid.com" } makevoid

  %h1
    %a{ href: "https://www.facebook.com/giuseppe.d.marzo" } Giuseppe di Marzo
  %p VideoMaker
  %p
    %a{ href: "http://ltestudio.it" } LTE Studio