%h1 Press


%section
  %h1 Video:
  %object
    %embed{ src: "http://video.tiscali.it/inc/TiscaliVideo.swf", flashvars: 'vURL=http://video.tiscali.it/asx/179680.asx', allowFullScreen: 'true' }

  <object width='642' height='448'><param name='allowScriptAccess' value='always' /><param name='allowFullScreen' value='true' /><param name='movie' value='http://video.tiscali.it/inc/TiscaliVideo.swf' /><param name='FlashVars' value='vURL=http://video.tiscali.it/asx/179680.asx' /><embed src='http://video.tiscali.it/inc/TiscaliVideo.swf' quality='high' bgcolor='#FFFFFF' allowScriptAccess='always' type='application/x-shockwave-flash' flashvars='vURL=http://video.tiscali.it/asx/179680.asx' allowFullScreen='true' width='642' height='448' /></object>

%section
  %h1 Articolo:
  http://notizie.tiscali.it/regioni/toscana/articoli/13/09/11/stampante_3d.html?ultimora