%h1 Press


%section
  %h1 Video:
  %object
    %embed{ width: "600px", height: "400px", src: "http://video.tiscali.it/inc/TiscaliVideo.swf", flashvars: 'vURL=http://video.tiscali.it/asx/179680.asx', allowFullScreen: 'true' }


%section
  %h1
    %a{ href: "http://notizie.tiscali.it/regioni/toscana/articoli/13/09/11/stampante_3d.html?ultimora" } Visualizza l'articolo su notizie.tiscali.it
