%h1.title= t "Get your favourite thing printed", "Stampa il tuo oggetto preferito"


%p=t "3DMaking offers 3D printing services"" Send us your 3D models in STL format, we will print them mainly in ecologic plastic material (PLA) wit a good level of detail.", "Non hai ancora una stampante 3D? Hai bisogno di stampare un modello 3D ma non sai come fare? Contatta noi di 3DMaking per stampare tutto quello di cui hai bisogno. Manda una mail o un messaggio su Facebook con il file .STL del tuo oggetto tridimensionale, ti invieremo un preventivo gratuito e penseremo noi a creare l'oggetto che desideri."





- if en?
  :textile
    If you still don't have a 3d model or an idea, check "Thingiverse":http://thingiverse.com or "YouMagine":https://www.youmagine.com/ or in our "gallery":/photos,  that both contain a lot of free 3d models, and for the most part they're ready to print. Some 3d models are ready for customization, it's possible to have a 3d model personalized with signs or logos. Contact us to get your idea printed!
- else
  :textile
    Se ancora non hai un modello 3d o un'idea, vai su "Thingiverse":http://thingiverse.com, "YouMagine":https://www.youmagine.com/ o nella nostra "gallery":/photos, qui potrai trovare migliaia di modelli scaricabili gratuitamente che potranno essere personalizzati o modificati a seconda delle esigenze. Contattaci per stampare la tua idea.


:textile
  #{t "See our \"photos\":/photos and \"facebook page\":https://www.facebook.com/3dmaking !", "Visita la nostra \"pagina facebook\":https://www.facebook.com/3dmaking per rimanere sempre aggiornato sulle ultime novità della stampa 3D"} 
  
      
%section.gallery
  = partial :photos