%h1= t "Get your favourite thing printed!", "Stampa il tuo oggetto preferito!"


=t "3DMaking offers 3D printing services"" Send us your 3D models in STL format, we will print them mainly in ecologic plastic material (PLA) wit a good level of detail.", "3D Making offre servizi i stampa in 3d. Inviaci i tuoi modelli 3d in formato STL e li stamperemo in 3d in materiale plastico ecologico (PLA) con un buon livello di dettaglio."

:textile
  #{t "See our \"photos\":/photos and \"facebook page\":https://www.facebook.com/3dmaking !", "Guarda le nostre \"foto\":/photos e la \"pagina di facebook\":https://www.facebook.com/3dmaking !"}



- if en?
  :textile
    If you still don't have a 3d model or an idea, check "Thingiverse":http://thingiverse.com or "YouMagine":https://www.youmagine.com/ that both contain a lot of free 3d models, and for the most part they're ready to print. Some 3d models are ready for customization, it's possible to have a 3d model personalized with signs or logos. Contact us to get your idea printed!
- else
  :textile
    Se ancora non hai un modello 3d o un'idea, vai su "Thingiverse":http://thingiverse.com or "YouMagine":https://www.youmagine.com/ che contengono molti modelli 3d gratuiti, la maggior parte di questi pronti alla stampa. Su alcuni modelli e' possibile effettuare personalizzazioni come aggiunta di loghi e scritte (in rilievo o scavati).
    Contattaci per stampare la tua idea!