%h1 #{ t "Products in:",  "Prodotti nella categoria:" } #{@category}

%a.btn{ href: "/shop" } < indietro

//= params[:category]
%nav
  - for product in PRODUCTS
    %a{ href: "/products/#{product[:name]}" }= product[:title_it]