:ruby
  release_day = 18
  date = Date.today 
  day = release_day - date.day

- #ENV["RACK_ENV"] == "production"
- if ENV["RACK_ENV"] == "production" 
  %br
  %br
  %br
  %br
  %div{ style: "padding: 0 30%" }
    .box{ style: "text-align: center; width: 100%; margin: 0 auto; " }
      %h1{ style: "padding-top: 25px; font-family: bazar; font-size: 1.5em" }
        APERTURA DELLO SHOP
        %br
        %br
    
      .boxed{ style: "font-size: 6em; font-family: bazar; padding-top: 25px; margin-bottom: 5px" } #{day} GIORNI
      %p{ style: "font-size: 2em; font-family: bazar; color: #555"} OPENING: 18.04.2014 
- else
  %section.gallery
    #slides
      %img{ src: "/img/gallery_home/2.jpg" }
      %img{ src: "/img/gallery_home/6.jpg" }
      %img{ src: "/img/gallery_home/4.jpg" }


  %section

    .left
      = haml :"_categories"

    .right

      .box
        %h1 3DMaking shop
        .text
          :textile
            Benvenuti nella sezione shop di 3d making. Qui potete trovare tutto quello di cui avete bisogno per entrare nel mondo della stampa 3D. Dai componenti meccanici, alle parti stampate, nello shop di 3DMaking potete trovare tutto il necessario per costruire o modificare la vostra stampante 3D.
            
            Oltre ai componenti singoli, 3DMaking offre la possibilità di acquistare stampanti completamente assemblate come la 3DM1 e la PrusaI3DM entrambe molto semplici da utilizzare, molto precise e soprattutto opensource. Disponibili anche nella versione Kit.

      .box
        %h1 Prodotti in evidenza

        %section.products
          - for product in PRODUCTS[0..3]
            - @product = product
            = haml :"_product"
  .clear