%h1 Team

%section
  %h1
    %a{ href: "https://www.facebook.com/makevoid" }  Francesco Canessa
  %p Software developer
  %p
    %a{ href: "http://makevoid.com" } makevoid

  %h1
    %a{ href: "https://www.facebook.com/giuseppe.d.marzo" }
    Giuseppe di Marzo
  %p VideoMaker
  %p
    %a{ href: "http://ltestudio.it" } LTE Studio

// link info fb

// link info linkedin


