%h1 Team

%section
  %h1 Francesco Canessa
  %p Software developer
  %p
    %a{ href: "http://makevoid.com" } makevoid

  %h1 Giuseppe di Marzo
  %p VideoMaker
  %p
    %a{ href: "http://ltestudio.it" } LTE Studio

// link info fb

// link info linkedin


