*, div {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Bazar;
  src: url("/fonts/bazar.ttf") format("truetype"), url("/fonts/bazar.otf") format("opentype"); }

@font-face {
  font-family: Gafeta;
  src: url("/fonts/gafeta.woff") format("woff"); }

@font-face {
  font-family: Voltaire;
  src: url("/fonts/Voltaire-Regular.ttf") format("truetype"), url("/fonts/bazar.otf") format("opentype"); }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  margin: 0;
  font-size: 1em;
  width: 100%;
  background: #eeeeee;
  font-family: Gafeta, "Helvetica Neue", Helvetica, sans-serif, Arial, Verdana; }

html, body, .outer_cont {
  height: 100%; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

a {
  color: #0c990c; }
  a:hover {
    color: #47dd47; }

header a, .dark a {
  color: #46dd38; }
  header a:hover, .dark a:hover {
    color: #9bff92; }

nav a {
  display: block;
  font-family: Voltaire; }

h1 {
  margin: 0;
  font-size: 1.2em; }

a.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 4px 10px;
  margin-bottom: 20px; }

a.btn {
  background: lightgrey;
  color: #056839;
  border: 1px solid #056839; }

a.btn:hover {
  background: #056839;
  color: white; }

.header {
  font-family: Bazar;
  text-transform: uppercase; }
  .header .bg {
    padding: 10px 0 0 0;
    background: #333333; }
  .header .inner {
    width: 94%;
    margin: 0 auto;
    max-width: 1000px; }

.header h1 {
  font-family: Myriad;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4em;
  float: left; }
  .header h1 a {
    color: #333333; }
    .header h1 a:hover {
      color: #444444; }
    .header h1 a span.tred {
      color: #056839;
      position: relative;
      right: -8px; }
  .header h1 img {
    width: 53px;
    margin: 0 auto;
    display: block; }
  .header h1 a.site_name {
    margin: 20px auto 40px;
    display: block;
    position: relative;
    left: -0.73em; }
  .header h1:hover {
    opacity: 0.9; }

.header nav {
  display: inline-block;
  float: left;
  margin: 11px 0 0 3%;
  width: 80%;
  text-align: center; }
  .header nav a {
    background: #555555;
    padding: 0.4em 0.4em 0.3em;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.1em;
    line-height: 2em;
    margin: 0 1.3% 0 0;
    display: inline-block; }
    .header nav a:hover {
      background: #eeeeee;
      color: #444444; }

.belt {
  background: url("/img/belt_bg.png") repeat;
  width: 100%;
  height: 20px; }

.content {
  margin: 100px auto 0;
  max-width: 1000px;
  width: 94%; }
  .content > h1 {
    font-size: 2em;
    position: relative;
    margin: 0 0 20px 0; }

.lang {
  float: right; }

section > section {
  margin: 0 0 3em 0; }

section > section > h1 {
  margin: 40px 0 10px; }

p {
  margin: 0 0 1em;
  line-height: 1.35em;
  font-size: 1.15em;
  margin-bottom: 0.6em; }

.home .content img, .printer_3dm1 .content img {
  width: 100%; }

.content img.icon {
  width: auto;
  position: relative;
  top: 32px;
  margin-right: 4px;
  border: 0; }

.contacts {
  margin: 20px 0 0 0; }

.gallery {
  margin: 20px 0 0; }
  .gallery h1 {
    margin: 0 0 10px 0; }

.gallery img {
  margin: 0 0 30px 0; }

.gallery .album {
  float: left;
  padding: 0 1% 2% 0;
  width: 33.33%;
  white-space: nowrap;
  font-size: 0.8em; }
  .gallery .album h1 {
    overflow: hidden;
    margin: 0px 0 3px 0; }
  .gallery .album .img_box {
    height: 120px;
    background: white; }
  .gallery .album img {
    width: 100%; }
  .gallery .album img.vert {
    margin-top: -50px; }

.album .album img {
  cursor: pointer;
  width: 46%;
  margin: 0 2% 2% 0; }

.content > .album {
  margin: 20px 0 0 0; }
  .content > .album h1 {
    margin: 0 0 10px; }

.img_box {
  overflow: hidden; }

.content > h1:first-child {
  text-align: center;
  font-size: 3em;
  font-family: Bazar;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  margin: 120px 0 20px 0; }

.home .content {
  position: relative;
  top: -30px; }
  .home .content img {
    margin-top: 50px;
    margin-bottom: 20px; }
  .home .content .tagline p {
    text-align: center;
    font-size: 3em;
    font-family: Bazar;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333; }

.printer_3dm1 .box {
  width: 48.5%;
  display: inline-block;
  float: left; }
.printer_3dm1 .box.first {
  margin-right: 3%; }
.printer_3dm1 .box.right {
  float: right; }

h2 {
  text-align: center;
  font-family: bazar;
  font-size: 120%;
  margin: -15px 0 20px 0; }

.firefox.shop .left, .firefox.categories .left, .firefox.products .left {
  width: 18%; }
.firefox .gallery .album {
  width: 32.3%; }
.firefox.printer_3dm1 .box {
  width: 47.5%; }

.shop .gallery, .categories .gallery, .products .gallery {
  heigth: 20px;
  padding: 0 100px; }
.shop .left, .categories .left, .products .left {
  width: 20%; }
  .shop .left nav a, .categories .left nav a, .products .left nav a {
    line-height: 1.5em; }
.shop .right, .categories .right, .products .right {
  width: 80%; }

.products .right .boxed {
  margin-top: 20px; }

.box.product {
  background: #fafafa; }
  .box.product h1 {
    background: #dddddd;
    height: 50px; }
    .box.product h1 a {
      color: #056839;
      font-size: 0.8em; }

.box {
  border: 1px solid #333333;
  padding: 0 0 5px;
  border-radius: 10px;
  margin: 0 0 20px 0; }
  .box .boxed {
    margin: 15px 2% 40px; }
  .box h1 {
    color: white;
    background: #333333;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px 2% 5px; }
  .box nav {
    margin: 10px 5%;
    display: block; }
    .box nav a {
      display: block; }

.box.categories_nav {
  background: #fafafa; }

.box.product_box {
  background: #fafafa; }
  .box.product_box .tech_specs_box {
    background: white; }

body .products nav {
  margin: 0; }
body .products a {
  display: inline-block;
  width: 24%;
  padding: 0px 2%;
  font-size: 0.9em; }
  body .products a img {
    margin: 10px 1%;
    width: 100%; }
  body .products a span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.content .product.box {
  width: 23%;
  display: inline-block;
  margin: 10px 0.8%; }
  .content .product.box h1 a {
    color: black; }
  .content .product.box:hover h1 {
    background: black; }
    .content .product.box:hover h1 a {
      color: white; }
  .content .product.box a {
    width: 100%;
    text-align: center; }
  .content .product.box img {
    width: 60%; }

.product.box:hover a {
  color: white; }

.products .content .right .left {
  width: 65%; }
  .products .content .right .left img {
    width: 100%; }
.products .content .right .right {
  width: 35%; }
.products .content .right .boxed {
  padding: 2%; }
.products .content .right .box.right h1 {
  text-transform: uppercase;
  font-size: 0.9em; }
.products .content .right .box.right ul {
  margin-left: 12%; }
.products .content .right .description {
  padding: 20px 0; }
.products .content .right .price {
  float: left;
  margin-right: 2%; }
  .products .content .right .price span {
    font-size: 0.8em; }
.products .content .right form {
  zoom: 0.9;
  float: left; }

.price {
  font-size: 1.3em;
  font-weight: bold; }

.left {
  padding-right: 2%; }
  .left h1 {
    padding: 5px 5% 5px; }

.left .text, .left section, .right .text, .right section {
  padding: 10px 2% 5px; }

.products.box img, .products .box img {
  border: 1px solid #666666;
  border-radius: 6px; }
.products.box form img, .products .box form img {
  border: 0; }

.standard {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin: 20px; }
  .standard img {
    border: 1px solid #333333; }

.lightbox {
  position: absolute;
  width: 100%;
  background: rgba(90, 90, 90, 0.4);
  display: none;
  text-align: center;
  z-index: 10; }
  .lightbox img {
    cursor: pointer;
    width: 63%;
    margin: 163px auto;
    position: absolute;
    padding: 1%;
    background: white; }

#slides {
  font-size: 1.5em; }
  #slides .slidesjs-navigation {
    margin-right: 7px;
    color: #333333; }
  #slides .slidesjs-container {
    border-bottom: 10px solid #333333; }
  #slides img {
    border: 10px solid #333333; }
  #slides .slidesjs-pagination {
    float: right;
    position: relative;
    top: -30px; }
    #slides .slidesjs-pagination a {
      margin-right: 7px;
      color: #333333; }
      #slides .slidesjs-pagination a.active {
        color: white; }

.headroom {
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: 12; }

.headroom--unpinned {
  top: -100px; }

.headroom--pinned {
  top: 0; }

.cart {
  float: right; }

@media (max-width: 760px) {
  body section .content {
    width: 85%;
    margin: 0 auto;
    font-size: 0.85em; } }
@media (min-width: 1000px) {
  .gallery .album .img_box {
    height: 200px; } }
@media (max-width: 1000px) {
  .content .product.box {
    width: 30%; } }
@media (min-width: 500px) {
  .album .album img {
    width: 29%;
    margin: 0 2% 2% 0; } }
@media (min-width: 1000px) {
  .album .album img {
    width: 21%;
    margin: 0 2% 2% 0; } }
